<!DOCTYPE html>
<html>
  <head></head>
  <body id="<%= pageID %>">
       <h1>Min superfede webside</h1>
       <h2>Nu med brug af render metode</h2>
       <h3>..Og nodemon restarter serveren hver gang der er en ændring</h3>  
  </body>
</html>
